body {
    text-align: center;
    background-color: #FF5E5B;
}


#listHeaders {
    /* border-bottom: black;
    border-width: 5px;
    border-style: solid; */
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding: 0;
    width: 80%;
    
}

li {
    display: flex;
    text-align: center;
}

.name {
    /* width: 80px; */
    /* padding-right: 50px; */
    width: 25%;
    padding: 10px;
    background-color: #D8D8D8;

}

.bonusPercentage {
    /* width: 20%; */
    padding: 10px;
    width: 25%;
    background-color: #FFFFEA;


}

.totalCompensation {
    /* width: 20%; */
    padding: 10px;
    width: 25%;
    background-color: #D8D8D8;


}

.totalBonus {
    /* width: 20%; */
    padding: 10px;
    width: 25%;
    background-color: #FFFFEA;


}